@(sidebarSelection: HomeController.SidebarSelection, rsoList: Seq[Rso], userRsoList: Seq[Rso], form: HomeController.RsoForm)(implicit request: HomeController.UserRequest)


@user = @{ request.identity }

@styles = {
  <style>
    .card-tasks .td-actions {
      width: 77px;
    }
    .card-tasks tr {
      height: 77px;
    }
  </style>
}
@scripts = {
  <script>
    var token = "@helper.CSRF.getToken.value";
    $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
      jqXHR.setRequestHeader('Csrf-Token', token);
    });


    function showCreateClubAlert() {
      swal({
        title: 'Create a Club',
        html: `
          @helper.form(action = helper.CSRF(routes.HomeController.createRso), args = 'id -> "createClubForm") {
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Name" name="name">
            </div>
          }`,
        showCancelButton: true,
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: false,
        onOpen: function() { initDateTimePicker(); }
      }).then(function(result) {
        $("#createClubForm").submit();
      }).catch(swal.noop);
    }

    function showEditClubAlert(rsoName, html) {
      swal({
        title: 'Edit ' + rsoName,
        html: html,
        showCancelButton: true,
        confirmButtonClass: 'btn btn-success',
        cancelButtonClass: 'btn btn-danger',
        buttonsStyling: false,
        onOpen: function() { initDateTimePicker(); }
      }).then(function(result) {
        $("#editClubForm").submit();
      }).catch(swal.noop);
    }

    function showDeleteClubAlert(rsoName, deleteUrl) {
      swal({
        title: 'Delete ' + rsoName + '?',
        type: 'warning',
        confirmButtonClass: 'btn btn-info',
        buttonsStyling: false
      }).then(function() {
        $.ajax({
          url: deleteUrl,
          type: "POST",
          success: function () {
            swal({
              type: 'success',
              html: 'You have deleted ' + rsoName,
              confirmButtonClass: 'btn btn-info',
              buttonsStyling: false
            }).then(function() { location.reload(); }, function() { location.reload(); }).catch(swal.noop);
          },
          error: function (err) {
            console.log(err);
            swal({
              type: 'error',
              title: 'Error',
              text: err,
              confirmButtonClass: "btn btn-info",
              buttonsStyling: false
            }).catch(swal.noop);
          }
        });
      }).catch(swal.noop);
    }

    function showJoinClubAlert(title, joinUrl, leaveUrl, showJoin, showLeave, body) {
      swal({
        title: title,
        buttonsStyling: false,
        showConfirmButton: showJoin || showLeave,
        confirmButtonText: showJoin ? "Join" : showLeave ? "Leave" : "",
        confirmButtonClass: showJoin ? "btn btn-success" : showLeave ? "btn btn-danger" : "",
        html: body
      }).then(function() {

        if(showJoin) {
          $.ajax({
            url: joinUrl,
            type: "POST",
            success: function () {
              swal({
                type: 'success',
                html: 'You have requested to join ' + title,
                confirmButtonClass: 'btn btn-info',
                buttonsStyling: false
              }).then(function() { location.reload(); }, function() { location.reload(); }).catch(swal.noop);
            },
            error: function (err) {
              console.log(err);
              swal({
                type: 'error',
                title: 'Error',
                text: err,
                confirmButtonClass: "btn btn-info",
                buttonsStyling: false
              }).catch(swal.noop);
            }
          });
        }

        if(showLeave) {
          $.ajax({
            url: leaveUrl,
            type: "POST",
            success: function () {
              swal({
                type: 'success',
                html: 'You have left ' + title,
                confirmButtonClass: 'btn btn-info',
                buttonsStyling: false
              }).then(function() { location.reload(); }, function() { location.reload(); }).catch(swal.noop);
            },
            error: function (err) {
              console.log(err);
              swal({
                type: 'error',
                title: 'Error',
                text: err,
                confirmButtonClass: "btn btn-info",
                buttonsStyling: false
              }).catch(swal.noop);
            }
          });
        }
      }).catch(swal.noop);
    }
  </script>
}

@body = {
  <script>
    var rsoEditFunctions = {};
    var rsoDeleteFunctions = {};
    var rsoJoinFunctions = {};
  </script>
  <div class="panel-header panel-header-sm">
  </div>
  <div id="clubs-page" class="content">
    <div class="row">
      <div class="col-md-10 ml-auto">

        <div class="card  card-tasks text-center">
          <div class="card-header ">
            <h4 class="card-title">Registered Student Organizations</h4>
          </div>
          <div class="card-body ">
            <div class="table-full-width table-responsive">
              <table class="table">
                <tbody>
                  @for(rso <- rsoList) {
                    @defining(userRsoList.contains(rso)) { isInRso =>
                      <script>
                        rsoEditFunctions["@rso.name"] = function() {
                          var body = `
                            @helper.form(action = helper.CSRF(routes.HomeController.editRso(rso.id)), args = 'id -> "editClubForm") {
                              <div class="form-group">
                                <input class="form-control" type="text" placeholder="Name" name="name" value="@rso.name">
                              </div>
                            }
                          `;
                          showEditClubAlert("@rso.name", body);
                        };
                        rsoDeleteFunctions["@rso.name"] = function() {
                          showDeleteClubAlert("@rso.name", "@routes.HomeController.deleteRso(rso.id)");
                        };
                        rsoJoinFunctions["@rso.name"] = function() {
                          var body = `
                            <p class="text-muted">@rso.university.fullName</p>

                            <p class="text">hello this is a test</p>
                          `;
                          showJoinClubAlert("@rso.name", "@routes.HomeController.joinRso(rso.id)", "@routes.HomeController.leaveRso(rso.id)", @{!isInRso}, @isInRso, body);
                        };
                      </script>
                      <tr>
                        <td class="img-row" onclick="rsoJoinFunctions['@rso.name']();">
                          <div class="img-wrapper img-raised">
                            <img src="@routes.Assets.at("theme/assets/img/default-avatar.png")" class="img-raised" />
                          </div>
                        </td>
                        <td class="text-left @if(!rso.approved) { text-muted }" onclick="rsoJoinFunctions['@rso.name']();">
                          @rso.name
                          @if(isInRso) { &nbsp;<i class="now-ui-icons ui-1_check" style="color: lime; text-shadow: 1px 1px 1px black;"></i> }
                          @if(!rso.approved) { <p class="text">Inactive: Pending membership</p> }
                        </td>
                        <td class="td-actions text-right">
                          @if(user.id == rso.owner.id || user.role == Role.SuperAdmin) {
                            <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task" href="#" onclick="rsoEditFunctions['@rso.name']();">
                              <i class="now-ui-icons ui-2_settings-90"></i>
                            </button>
                            <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove" href="#" onclick="rsoDeleteFunctions['@rso.name']();">
                              <i class="now-ui-icons ui-1_simple-remove"></i>
                            </button>
                          }
                        </td>
                      </tr>
                    }
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1 mr-auto">
        <ul class="nav nav-pills nav-pills-info nav-pills-icons flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#filter">
              <i class="now-ui-icons ui-1_zoom-bold"></i> Filter
            </a>
          </li>
          @if(user.role == Role.Admin || user.role == Role.SuperAdmin) {
            <li class="nav-item">
              <a class="nav-link active" href="#" onclick="showCreateClubAlert()">
                <i class="now-ui-icons ui-1_simple-add"></i> Create
              </a>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>

}

@Page("Clubs", sidebarSelection)(styles)(scripts)(body)